html{
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background-color: black;
}

h1 {
    /*border: 1px solid rgb(162, 161, 167);*/
    color:white;
    margin-left: 50px;
    margin-right: 50px;
    text-align: left;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
    padding: 2px;
}
/*Home Page*/

/* Navigation Bar*/
.tapNav{
    display: grid;
    grid-template-columns: auto auto;
    margin: 25px;
    margin-left: 50px;
    margin-right: 50px;
}

.tapNav a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 18px;
    text-align: right;
}

.tapNav_tap2 {
    display: grid;
    grid-template-columns: auto auto auto;
}

.tapNav a:hover {
    color: rgb(183, 255, 154); /*Changes Text Color when hover*/
}

.tapNav a.active{
    color: rgb(81, 255, 0); /*Sets Active Tab Text Color*/
}

/* Splash Image*/
.Splash_icon1{
    min-height: 100vh;
    display: flex;
}

/*Games Page*/
.gameContainer{
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    padding:  10px;
    padding-bottom:5px;
    overflow-x: auto;
    gap: 20px;
}

.gameContainer::-webkit-scrollbar {
    box-shadow: inset 0 0 5px rgb(255, 255, 255);
    border-radius: 10px;
    height: 12px;
}

.gameContainer::-webkit-scrollbar-thumb {
    background: rgb(71, 71, 71);
    border-radius: 10px;
}

.description{
    color: white;
    text-align: left;
    font-size: 20px;
}

.pricetag{
    color: rgb(199, 199, 199);
    text-align: left;
    font-size: 18;
}


/*Experiences Page*/
.experiencesContainer{
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    padding:  10px;
    padding-bottom:5px;
    overflow-x: auto;
    gap: 15px;
}

.experiencesContainer2{
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    padding:  10px;
    padding-bottom:5px;
    overflow-x: auto;
    gap: 15px;
}

.experiencesContainer::-webkit-scrollbar {
    box-shadow: inset 0 0 5px rgb(255, 255, 255);
    border-radius: 10px;
    height: 12px;
}

.experiencesContainer::-webkit-scrollbar-thumb {
    background: rgb(71, 71, 71);
    border-radius: 10px;
}

.experiencesContainer2::-webkit-scrollbar {
    box-shadow: inset 0 0 5px rgb(255, 255, 255);
    border-radius: 10px;
    height: 12px;
}

.experiencesContainer2::-webkit-scrollbar-thumb {
    background: rgb(71, 71, 71);
    border-radius: 10px;

}

.Exp_icon1{

    display: flex;
    margin-left: 50px;
    margin-right: 50px;
}

/*Pruducts Page*/
.productContainer{
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    padding:  10px;
    padding-bottom:5px;
    overflow-x: auto;
    gap: 20px;
}

.product img{
    width: 100%;
}

.row {
    /*border: 1px solid rgb(252, 3, 3);*/
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }

  .column {
    /*border: 1px solid rgb(252, 3, 3);*/
    flex: 30%;
    max-width: 50%;
    padding: 0 4px;
  }
  
  .column img {
    /*border: 1px solid rgb(252, 3, 3);*/
    margin-top: 10px;
    vertical-align: middle;
    width: 100%;
  }
  
  /*Footer*/
  .footer{
    /*border: 1px solid rgb(162, 161, 167);*/
    background-color: rgb(0, 0, 0);
    overflow: hidden;
    padding: 50px;
}

.footer a {
    float: right;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px 40px;
    padding-top: 7%;
    text-decoration: none;
    font-size: 18px;
}

#footer_foot1{
    float: left;
}

/*Media Queries*/
@media screen and (max-width: 600px) {
    h1{
        margin-left: 10px;
        margin-right: 10px;
        font-size: 21px;
    }

    /* Navigation Bar*/
    .tapNav{
        display: grid;
        grid-template-columns: auto;
        grid-row: auto auto;
        margin: 25px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .tapNav a{
        text-align: center;
        font-size: 16px;
    }

    #tapNav_tap1{
        display: grid;
        grid-template-columns: auto;
    }
    
    .tapNav_tap2 {
        display: grid;
        grid-template-columns: auto auto auto;
    }

    /*Games Page*/
    .gameContainer{
        margin-left: 10px;
        margin-right: 10px;
        gap: 10px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .gameContainer img{
        width: 341px;
    }

    .description{
        font-size: 18px;
    }
    
    .pricetag{
        font-size: 14;
    }

    /*Experiences Page*/
.experiencesContainer{
    /*border: 1px solid rgb(252, 3, 3);*/
    margin-left: 10px;
    margin-right: 10px;
    display: grid;
    padding:  20px;
}

.experiencesContainer2{
    /*border: 1px solid rgb(252, 3, 3);*/
    margin-left: 10px;
    margin-right: 10px;
    padding:  20px;
}

.imgSize1 img{
    width: 100%;
}

.imgSize2 img{
    width: 100%;
}

.imgSize3 img{
    width: 200px;
}

.imgSize4 img{
    width: 554px;
}

.Exp_icon1{
    margin-left: 10px;
    margin-right: 10px;
}

/*Pruducts Page*/
.productContainer{
    /*border: 1px solid rgb(252, 3, 3);*/
    margin-left: 10px;
    margin-right: 10px;
    display: grid;
    padding:  10px;
    padding-bottom:10px;
}

.product img{
    width: 100%;
}

.column {
    flex: 100%;
    max-width: 100%;
}
  
/*Footer*/
.footer{
    /*border: 1px solid rgb(162, 161, 167);*/
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;

}

.footer a {
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 14px;
}

#footer_foot1{
    display: grid;
    grid-template-columns: auto auto auto;
}

.footer_foot2{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
}
  }
  